{% extends "base.html" %}
{% load static %}


{% block content %}
  <div class="about container py-5">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="media/logo.jpg" alt="About Page">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="mb-3">Who Are We?</h2>
            <p class="lead fs-6 text-secondary mb-3">Welcome to Feather and Wood—where play meets purpose.</p>
            <p class="mb-5">At Feather and Wood, we believe that toys should do more than entertain...</p>
            <div class="row gy-4 gy-md-0 gx-xxl-5X">
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <i class="fas fa-solid fa-seedling"></i>
                  </div>
                  <div>
                    <h2 class="h4 mb-3">Environment</h2>
                    <p class="text-secondary mb-0">We prioritise natural materials, sustainable practices...</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <i class="fas fa-solid fa-heart"></i>
                  </div>
                  <div>
                    <h2 class="h4 mb-3">Our Mission</h2>
                    <p class="text-secondary mb-0">Our mission is simple: to provide toys that are as timeless...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="me-4 text-primary">
    <i class="fa-solid fa-truck"></i>
  </div>
  <div>
    <h2 class="h4 mb-3" id="shipping">Shipping Information</h2>
    <p class="text-secondary mb-0">Typically involves delivery within 1-3 working days, often with options for free delivery on larger orders. Standard shipping rates are €6.99, while larger or bulky items might incur higher fees.</p>
  </div>
  <div class="me-4 text-primary">
    <i class="fa-solid fa-rotate-left"></i>
  </div>
  <div>
    <h2 class="h4 mb-3" id="returns">Returns & Exchanges</h2>
    <p class="text-secondary mb-0">Exchanges or refunds are offered for items returned to a store, provided they are unused, unopened, in original packaging, and accompanied by a valid receipt.</p>
  </div>
{% endblock %}

