body {
    color: #4b4848;
    font-family: 'Saira';
}

header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("/media/main-image-bella.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;  
    
}

.navbar {
    flex-wrap: nowrap !important;
}

.navbar-brand {
    font-size: 2rem;
}

#delivery-banner {
    background-color: #b6afaf;
    color: #fff;
}

.btn-primary {
    color: #000;
    background-color: #daa1d0;
    border-color: #daa1d0;
}

a.shop-now:hover {
    background: #815c7b !important;
    color: #fff !important;
    border: #815c7b;
}
 
.icon {
    color: #555 !important;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #000 !important;
}

a.category-badge> span.badge:hover {
    background: #815c7b !important;
    color: #fff !important;
}

a.brand-badge> span.badge:hover {
    background: #815c7b !important;
    color: #fff !important;
}

/* --------------------------------------------------- Help from ChatGPT to write function for product cards */
.card {
    opacity: 0;  
    transform: translateY(20px);  
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
  }
  
  .card.visible {
    opacity: 1;  
    transform: translateY(0); 
  }

/* --------------------------------------------------- Product detail page from Bootstrap Examples.com */
.product-image {
    max-height: 250px;
    object-fit: cover;
    width: 100%;
}
.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
.thumbnail:hover, .thumbnail.active {
    opacity: 1;
}

/* --------------------------------------------------- Media Queries */

@media (min-width: 768px) {
    header.masthead {
      padding-top: 17rem;
      padding-bottom: 12.5rem;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-evenly;
        padding-top: 2em;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}


/* --------------------------------------------------- 404 Page  */
.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
  }

  .error-content {
    text-align: center;
  }

  .error-content h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .error-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .lottie-animation {
    max-width: 400px;
    margin-bottom: 2rem;
  }