<div class="collapse navbar-collapse" id="main_nav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="{% url 'products' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop By</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=rrp_price&direction=asc">Price</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">Rating</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=discount&direction=desc">On Sale</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'products' %}?brand=melissa_and_doug,stockmar,hape,bigjigs" role="button" data-bs-toggle="dropdown" aria-expanded="false">Brands</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'products' %}?brand=melissa_and_doug">Melissa & Doug</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?brand=stockmar">Stockmar</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?brand=hape">Hape</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?brand=bigjigs">BigJigs</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?brand=melissa_and_doug,stockmar,hape,bigjigs">All Brands</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'products' %}?category=preschool,role-play,dolls,doll_house" role="button" data-bs-toggle="dropdown" aria-expanded="false">Toys</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=preschool">Preschool</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=role-play">Role Play</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=dolls">Dolls</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=doll_house">Doll Houses</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=preschool,role-play,dolls,doll_house">All Toys</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'products' %}?category=song-books,readers,food" role="button" data-bs-toggle="dropdown" aria-expanded="false">Books</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=song-books">Song Books</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=readers">Story Books</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=food">Food & Celebration</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=song-books,readers,food">All Books</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'products' %}?category=crayons,craft-kit,paint" role="button" data-bs-toggle="dropdown" aria-expanded="false">Art & Craft</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=crayons">Crayons</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=craft-kit">Craft Kits</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=paint">Paint Sets</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=crayons,craft-kit,paint">All Art & Craft</a></li>
            </ul>
        </li>
    </ul>
</div>