{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <!-- Product Images -->
        <div class="col-md-6 mb-4">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid rounded mb-3 product-image" id="mainImage">
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <h2 class="mb-3">{{ product.name }}</h2>
            {% if product.discount %}
            <div class="mb-3">
                <span class="h4 me-2">€{{ product.sale_price }}</span>
                <span class="text-muted"><s>€{{ product.rrp_price }}</s></span>
            </div>
            {% else %}
            <div class="mb-3">
                <span class="h4 me-2">€{{ product.rrp_price }}</span>
            </div>
            {% endif %}
            {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
            {% endif %}
            {% if product.rating %}
            <div class="d-flex align-items-center gap-1">
                {{ product.get_star_rating|safe }}
                <span class="visually-hidden">Rated {{ product.rating }} out of 5</span>
            </div>
            <hr>
            {% else %}
            <small class="text-muted">No rating yet</small><hr>
            {% endif %}
            <p class="mb-4">{{ product.description }}</p>
            
            <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                    <div class="col-12">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-primary rounded-0"
                                        data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number" name="quantity" value="1"
                                    min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-primary rounded-0"
                                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col{% if s %}-12 mt-2{% endif %}">
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <button type="submit" class="btn btn-primary rounded-0 text-uppercase mt-5">
                            <i class="fas fa-cart-shopping"></i> Add to Cart
                        </button>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
            <form action="{% url 'add_to_wishlist' product.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                {% if user.is_authenticated and product.id in wishlist_items %}
                    <button type="submit" class="btn btn-link p-0" title="In Wishlist">
                        <i class="fa-solid fa-heart wishlist text-danger small"></i>
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-link p-0" title="Add to Wishlist">
                        <i class="fa-regular fa-heart wishlist text-dark small">Add to Wishlist</i>
                    </button>
                {% endif %}
            </form>      
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function changeImage(event, src) {
                document.getElementById('mainImage').src = src;
                document.querySelectorAll('.thumbnail').forEach(thumb => thumb.classList.remove('active'));
                event.target.classList.add('active');
            }
    </script>
{% endblock %}
